@import 'bootstrap/bootstrap.less';
@import 'variables.less';
@import 'partials/main.less';
@import 'partials/footer.less';

@dark-green: #008451;
@light-green: #009d60;

body {
	-webkit-font-smoothing: antialiased;
	/*http://files.christophzillgens.com/webkit-font-smoothing.html*/
}

.container {
	margin: 3rem auto;
}

.clearfix {
	clear: both;
}

#main-header {
	.make-row();
	
	padding: 10px 0;
	background-color: @dark-green;
}

#main-header h1 {
	margin-bottom: 0;
	float: left;
}

#main-header ul.socials {
	list-style: none;
	padding-left: 0;
	.pull-right();
}

#main-header ul.socials li {
	margin: 5px;
	display: table;
	float: left;
	height: 60px;
}

#main-header ul.socials li div {
	display: table-cell;
	vertical-align: middle;
}

#main-header ul.socials li a {
	text-decoration: none;
	opacity: 0.7;
}

/* a:focus, a:visited, a:link*/
#main-header ul.socials li a:hover {
	opacity: 1;
}

#main-header ul.socials li.globe {

}

#main-header ul.socials li.globe img {
	float: left;
	margin-top: 4px;
}

#main-header ul.socials li.globe p {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	color: #FFF;
	margin: 0;
	float: left;
	width: 280px;
	margin-left: 10px;
}

#main-header ul.socials li.globe span {
	font-size: 2rem;
	color: #FF0;
}

nav.navbar {
	background-color: #009d60;

	.navbar-nav {
		// .make-sm-column(12);
		width: 100%;

		li a {
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}

nav.navbar li.lang {
	.pull-right();
	margin: 0 5px 0 0;
}

nav.navbar ul li.lang a {
	display: inline-block;
}

nav.navbar ul li.lang a:last-child {
	border-left: 1px solid white;
}

section#citation {
	.make-row();
	background-color: #fff;
	padding: 20px 0;
}

#citation blockquote {
	font-family: Arial, sans-serif;
	text-align: center;
	line-height: 1.4;
	margin: 0;
	font-size: 17px;
	color: #888;

	@media (min-width: @screen-sm-min) {
		margin: 0 25px;
		font-size: 24px;
  }
}

#citation cite {
	text-align: center;
	display: block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #009d60;
	text-transform: lowercase;
	margin-top: 15px;
}

#citation cite span.unitalic {
	font-style: normal;
	text-transform: uppercase;
}

// @media screen and (min-width: @screen-sm-min) {
// 	#citation cite {
// 		color: #900;
// 	}
// }

// @media screen and (max-width:460px) {
// 	#citation cite {
// 		color: darkblue;
// 	}
// }

#slider {
	.make-row();
	margin-bottom: 30px;

	.slide-container {
		.make-sm-column(12);
		// .make-sm-column-offset(3);
	}
}

#slider ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#slider ul li img {
	width: 100%;
	display: inherit;
}
