@import 'bootstrap/bootstrap.less';
@import 'variables.less';
@import 'partials/footer.less';

@dark-green: #008451;
@light-green: #009d60;

body {
	-webkit-font-smoothing: antialiased;
	/*http://files.christophzillgens.com/webkit-font-smoothing.html*/
}

#wrapper {
	width: 960px;
	margin: 3rem auto; /* 0 auto */
	min-height: 500px;
	background: #888;
	color: inherit;
}

.clearfix {
	clear: both;
}

#main-header {
	background-color: @dark-green;
	padding: 10px 30px;
	overflow: hidden;
	position: relative;
}

#main-header h1 {
	margin-bottom: 0;
	float: left;
}

#main-header ul.socials {
	list-style: none;
	position: absolute;
	right:-35px;
	bottom: -3px;
}

#main-header ul.socials li {
	margin: 5px;
	display: table;
	float: left;
	height: 60px;
}

#main-header ul.socials li div {
	display: table-cell;
	vertical-align: middle;
}

#main-header ul.socials li a {
	text-decoration: none;
	opacity: 0.7;
}

/* a:focus, a:visited, a:link*/
#main-header ul.socials li a:hover {
	opacity: 1;
}

#main-header ul.socials li.globe {
	margin-top: -13px;
}

#main-header ul.socials li.globe img {
	float: left;
	margin-top: 4px;
}

#main-header ul.socials li.globe p {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	color: #FFF;
	margin: 0;
	float: left;
	width: 280px;
	margin-left: 10px;
}

#main-header ul.socials li.globe span {
	font-size: 2rem;
	color: #FF0;
}

nav.navbar {
	background-color: #009d60;

	ul {
		margin: 0;
		list-style: none;
		// height: 45px;
		padding: 10px;

		li {
			display: inline;
			margin: 4px 8px;

			a {
				padding: 3px 5px;
				display: inline-block;
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				font-family: Arial, sans-serif;
			}

			&.lang {
				.pull-right();
				margin: 0 5px 0 0;
			}	
		}

	}

}


nav.navbar ul li.lang a {
	display: inline-block;
}

nav.navbar ul li.lang a:last-child {
	border-left: 1px solid white;
}

section#citation {
	background-color: #fff;
	padding: 20px 30px;
}

#citation blockquote {
	font-family: Arial, sans-serif;
	text-align: center;
	line-height: 1.4;
	font-size: 24px;
	color: #888;
	margin: 0;
}

#citation cite {
	text-align: center;
	display: block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #009d60;
	text-transform: lowercase;
	margin-top: 15px;
}

#citation cite span.unitalic {
	font-style: normal;
	text-transform: uppercase;
}

#slider ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#slider ul li img {
	width: 100%;
	display: inherit;
}

#main-content {
	padding: 30px;
	overflow: hidden;
	background: white;
}

#main-content #posts {
	border-top: 3px solid black;
	width: 68%;
	float: left;
}

#main-content #posts h2 {
	font-family: Georgia, serif;
	font-size: 1.6rem;
	color: #009d60;
}

#main-content .post p {
	line-height: 1.6;
	color: #444;
}

#main-content #posts .read_more {
	text-transform: uppercase;
	text-decoration: none;
	color: orange;
}

#main-content h5 {
	font-size: 1rem;
	color: 333;
	text-transform: uppercase;
}

#main-content #sidebar {
	width: 26%;
	float: right;
}

div#search-box {
	background: #000;
	position: relative;
}

form#search fieldset {
	border: none;
	padding: 8px !important;
}

form#search input {
	background-color: #000;
	border: none;
	outline: none;
	width: 90%;
	font-family: Georgia, serif;
	color: #fff;
	padding: 3px 8px;
}

form#search input[name="submit"] {
	position: absolute;
	background-image: url(../imgs/search.png);
	background-color: #000;
	background-repeat: no-repeat;
	width: 21px;
	height: 22px;
	right: 15px;
	top: 10px;
}

div.donators-list {
	background: #000;
	color: #fff;
	padding: 10px 25px;
	margin-top: 20px;
	font-family: Arial, sans-serif;
}

div.donators-list h6 {
	text-transform: uppercase;

}

div.donators-list ul {
	list-style: none;
	padding-left: 0;
}

div.donators-list ul li {
	line-height: 1.6;
}

div.donators-list ul li a.xhavit {
	color: orange;
}
