*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	/*background: url(../imgs/stardust.png) no-repeat fixed;*/
	background: url(../imgs/bckg.jpg) fixed;
}

#wrapper {
	width: 960px;
	margin: 3rem auto; /* 0 auto */
	min-height: 500px;
	background: #888;
}

.clearfix {
	clear: both;
}

#main-header {
	background-color: #008451;
	padding: 10px 30px;
	overflow: hidden;
	position: relative;
}

#main-header h1 {
	margin-bottom: 0;
	float: left;
}

#main-header ul.socials {
	list-style: none;
	position: absolute;
	right:-35px;
	bottom: -3px;
}

#main-header ul.socials li {
	margin: 5px;
	display: inline;
	float: left;
}

#main-header ul.socials li a {
	background-image: url(../imgs/sprites.gif);
	text-decoration: none;
	display: block;
	height: 31px;
	width: 31px;
	opacity: 0.7;

}

ul.socials li.yt_icon a {
	background-position: 31px 0;
}

ul.socials li.yt_icon a:hover {
	background-position: 31px 31px;
}

ul.socials li.fb_icon a {
	background-position: 128px 0;
}

ul.socials li.fb_icon a:hover {
	background-position: 128px 31px;
}

ul.socials li.tw_icon a {
	background-position: 94px 0;
}

ul.socials li.tw_icon a:hover {
	background-position: 94px 31px;
}

/* a:focus, a:visited, a:link*/
#main-header ul.socials li a:hover {
	opacity: 1;
}

#main-header ul.socials li.twitter {
	width: 21px;
	height: 18px;
	/*display: none;*/
	/*visibility: hidden;*/
}

#main-header ul.socials li.twitter a {
	display: block;
	/*background: url(../imgs/twitter.png) no-repeat;*/
	background-image: url(../imgs/twitter.png);
	background-repeat: no-repeat;
	text-indent: -9999px;

}

#main-header ul.socials li.globe {
	margin-top: -13px;
}

#main-header ul.socials li.globe img {
	float: left;
	margin-top: 4px;
}

#main-header ul.socials li.globe p {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	color: #FFF;
	margin: 0;
	float: left;
	width: 280px;
	margin-left: 10px;
}

#main-header ul.socials li.globe span {
	font-size: 2rem;
	color: #FF0;
}

nav.top-bar {
	background-color: #009d60;
}

nav.top-bar ul {
	margin: 0;
	list-style: none;
	height: 45px;
	padding: 10px;
}

nav.top-bar ul li {
	display: inline;
	margin: 4px 8px;
}

nav.top-bar ul li a {
	padding: 3px 5px;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Arial, sans-serif;
}

ul.items {
	list-style: circle;
}

ol.todo {
	list-style: upper-roman;
	/*list-style-image: url(assets/imgs/dot.png);*/
}

dl.info dt {
	font-weight: bold;
}

dl.info dd {
	font-style: italic;
	margin-left: 20px;
}

p {
	margin: 20px 0 40px;
}

p.bravo {
	font: italic bold 20px "Helvetica", Arial, sans-serif;
	line-height: 1.5; 
	border-top: 2px solid #900;
	padding-top: 20px;
}

/* CSS Measuring Units = Njesi Matese */
.klass {
	width: 400pt;
	width: 400px;
	width: 40em;
	width: 40rem;
	width: 40%;
}

section#citation {
	background-color: #fff;
	padding: 20px 30px;
}

#citation blockquote {
	font-family: Arial, sans-serif;
	text-align: center;
	line-height: 1.4;
	font-size: 24px;
	color: #888;
	margin: 0;
}

#citation cite {
	text-align: center;
	display: block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #009d60;
	text-transform: lowercase;
	margin-top: 15px;
}

#citation cite span.unitalic {
	font-style: normal;
	text-transform: uppercase;
}

#slider ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#slider ul li img {
	width: 100%;
}